.profile-container {
        position: fixed;
        top: 0;
        left: 50%;
        width: 88%;
        height: 90%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        color: var(--black-primary);
        font-family: Arial, sans-serif;
        overflow-y: auto;
        font-size: 1.5em;
        font-weight: bold;
        padding: 20px 0 5px;
        gap: 10px;
}

.profile-header {
        font-size: 1.8em;
        padding-bottom: 20px;
        color: var(--green-primary);
}

.profile-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile-list li {
        margin: 5px 0;
        padding: 10px 15px;
        border-radius: 15px;
        width: 20%;
        background-color: var(--blue-primary);
        color: var(--white-secondary);
        font-size: 0.7em;
}
.profile-row {
        padding-bottom: 5px;
}

.profile-border {
        padding-bottom: 15px;
}

.save-button {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 1em;
        color: white;
        background-color: #6843ec;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
}

.save-button:hover {
        background-color: #593bd1;
}

@media (max-width:1200px) {
        .profile-list li {
                width: 50%;
        }
}
@media (max-width:600px) {
        .profile-list li {
                width: auto;
        }
        .profile-header {
                font-size: 1.5em;
        }
        .profile-container {
                font-size: 1.3em;
        }
}

@media (max-height:800px) {
        .profile-container {
                height: 80%;
        }
}

@media (max-height:500px) {
        .profile-container {
                height: 70%;
        }
}
