.nav_link_auth {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #333;
    text-decoration: none;
}

.ri-close-line {
    font-size: 2em;
}

.wrapper {
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 50px auto;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: var(--black-primary);
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 45px;
    border: none;
    padding: 0 10px;
    font-size: 1em;
    color: var(--black-primary);
    background-color: var(--white-secondary);
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input-box input:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.input-box .icon {
    position: absolute;
    right: 10px;
    color: var(--black-primary);
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}

.auth-btn-primary {
    width: 100%;
    height: 45px;
    background: var(--green-primary);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: var(--black-primary);
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.auth-btn-primary:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.auth-btn-primary:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--gray-secondary);
}

.divider span {
    margin: 0 10px;
    color: var(--black-primary);
    font-size: 0.9em;
}

.auth-btn-secondary {
    width: 100%;
    height: 45px;
    background: var(--gray-secondary);
    border: 1px solid var(--gray-secondary);
    color: var(--black-primary);
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

.auth-btn-secondary:hover {
    background: #e0e0e0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.auth-btn-secondary:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}
